.fade {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 24px;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
}
